.error-element {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(""); */
  background-size: cover;
  background-position: center;
  direction: rtl;
}

.error-element-box {
  background: rgba(102, 133, 218, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.error-element-title {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
}
